*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/res/drawable/

build.gradle

..bfg-report/
bfg-1.12.15.jar
replacements.txt
Popular-Movies.git/